<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Microsoft All Rules" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1306" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="None" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2102" Action="None" />
    <Rule Id="CA2103" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2106" Action="None" />
    <Rule Id="CA2107" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2115" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2120" Action="None" />
    <Rule Id="CA2121" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2151" Action="None" />
    <Rule Id="CA5122" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26140" Action="None" />
    <Rule Id="C28020" Action="None" />
    <Rule Id="C28021" Action="None" />
    <Rule Id="C28022" Action="None" />
    <Rule Id="C28023" Action="None" />
    <Rule Id="C28024" Action="None" />
    <Rule Id="C28039" Action="None" />
    <Rule Id="C28101" Action="None" />
    <Rule Id="C28110" Action="None" />
    <Rule Id="C28111" Action="None" />
    <Rule Id="C28114" Action="None" />
    <Rule Id="C28120" Action="None" />
    <Rule Id="C28121" Action="None" />
    <Rule Id="C28122" Action="None" />
    <Rule Id="C28123" Action="None" />
    <Rule Id="C28124" Action="None" />
    <Rule Id="C28125" Action="None" />
    <Rule Id="C28126" Action="None" />
    <Rule Id="C28127" Action="None" />
    <Rule Id="C28128" Action="None" />
    <Rule Id="C28129" Action="None" />
    <Rule Id="C28131" Action="None" />
    <Rule Id="C28133" Action="None" />
    <Rule Id="C28134" Action="None" />
    <Rule Id="C28135" Action="None" />
    <Rule Id="C28141" Action="None" />
    <Rule Id="C28143" Action="None" />
    <Rule Id="C28144" Action="None" />
    <Rule Id="C28145" Action="None" />
    <Rule Id="C28146" Action="None" />
    <Rule Id="C28147" Action="None" />
    <Rule Id="C28150" Action="None" />
    <Rule Id="C28151" Action="None" />
    <Rule Id="C28152" Action="None" />
    <Rule Id="C28153" Action="None" />
    <Rule Id="C28156" Action="None" />
    <Rule Id="C28157" Action="None" />
    <Rule Id="C28158" Action="None" />
    <Rule Id="C28159" Action="None" />
    <Rule Id="C28160" Action="None" />
    <Rule Id="C28161" Action="None" />
    <Rule Id="C28162" Action="None" />
    <Rule Id="C28163" Action="None" />
    <Rule Id="C28165" Action="None" />
    <Rule Id="C28166" Action="None" />
    <Rule Id="C28167" Action="None" />
    <Rule Id="C28168" Action="None" />
    <Rule Id="C28169" Action="None" />
    <Rule Id="C28170" Action="None" />
    <Rule Id="C28171" Action="None" />
    <Rule Id="C28172" Action="None" />
    <Rule Id="C28175" Action="None" />
    <Rule Id="C28176" Action="None" />
    <Rule Id="C28202" Action="None" />
    <Rule Id="C28203" Action="None" />
    <Rule Id="C28204" Action="None" />
    <Rule Id="C28205" Action="None" />
    <Rule Id="C28206" Action="None" />
    <Rule Id="C28207" Action="None" />
    <Rule Id="C28208" Action="None" />
    <Rule Id="C28209" Action="None" />
    <Rule Id="C28210" Action="None" />
    <Rule Id="C28211" Action="None" />
    <Rule Id="C28212" Action="None" />
    <Rule Id="C28213" Action="None" />
    <Rule Id="C28214" Action="None" />
    <Rule Id="C28215" Action="None" />
    <Rule Id="C28216" Action="None" />
    <Rule Id="C28217" Action="None" />
    <Rule Id="C28218" Action="None" />
    <Rule Id="C28219" Action="None" />
    <Rule Id="C28220" Action="None" />
    <Rule Id="C28221" Action="None" />
    <Rule Id="C28222" Action="None" />
    <Rule Id="C28223" Action="None" />
    <Rule Id="C28224" Action="None" />
    <Rule Id="C28225" Action="None" />
    <Rule Id="C28226" Action="None" />
    <Rule Id="C28227" Action="None" />
    <Rule Id="C28228" Action="None" />
    <Rule Id="C28229" Action="None" />
    <Rule Id="C28230" Action="None" />
    <Rule Id="C28231" Action="None" />
    <Rule Id="C28232" Action="None" />
    <Rule Id="C28233" Action="None" />
    <Rule Id="C28234" Action="None" />
    <Rule Id="C28235" Action="None" />
    <Rule Id="C28236" Action="None" />
    <Rule Id="C28237" Action="None" />
    <Rule Id="C28238" Action="None" />
    <Rule Id="C28239" Action="None" />
    <Rule Id="C28240" Action="None" />
    <Rule Id="C28241" Action="None" />
    <Rule Id="C28243" Action="None" />
    <Rule Id="C28244" Action="None" />
    <Rule Id="C28245" Action="None" />
    <Rule Id="C28246" Action="None" />
    <Rule Id="C28250" Action="None" />
    <Rule Id="C28251" Action="None" />
    <Rule Id="C28252" Action="None" />
    <Rule Id="C28253" Action="None" />
    <Rule Id="C28254" Action="None" />
    <Rule Id="C28260" Action="None" />
    <Rule Id="C28262" Action="None" />
    <Rule Id="C28263" Action="None" />
    <Rule Id="C28266" Action="None" />
    <Rule Id="C28267" Action="None" />
    <Rule Id="C28272" Action="None" />
    <Rule Id="C28273" Action="None" />
    <Rule Id="C28275" Action="None" />
    <Rule Id="C28279" Action="None" />
    <Rule Id="C28280" Action="None" />
    <Rule Id="C28282" Action="None" />
    <Rule Id="C28283" Action="None" />
    <Rule Id="C28284" Action="None" />
    <Rule Id="C28285" Action="None" />
    <Rule Id="C28286" Action="None" />
    <Rule Id="C28287" Action="None" />
    <Rule Id="C28288" Action="None" />
    <Rule Id="C28289" Action="None" />
    <Rule Id="C28290" Action="None" />
    <Rule Id="C28291" Action="None" />
    <Rule Id="C28300" Action="None" />
    <Rule Id="C28301" Action="None" />
    <Rule Id="C28302" Action="None" />
    <Rule Id="C28303" Action="None" />
    <Rule Id="C28304" Action="None" />
    <Rule Id="C28305" Action="None" />
    <Rule Id="C28306" Action="None" />
    <Rule Id="C28307" Action="None" />
    <Rule Id="C28308" Action="None" />
    <Rule Id="C28309" Action="None" />
    <Rule Id="C28350" Action="None" />
    <Rule Id="C28351" Action="None" />
    <Rule Id="C28735" Action="None" />
    <Rule Id="C28736" Action="None" />
    <Rule Id="C28750" Action="None" />
    <Rule Id="C28751" Action="None" />
    <Rule Id="C6381" Action="None" />
    <Rule Id="C6400" Action="None" />
    <Rule Id="C6401" Action="None" />
    <Rule Id="C6500" Action="None" />
    <Rule Id="C6501" Action="None" />
    <Rule Id="C6503" Action="None" />
    <Rule Id="C6504" Action="None" />
    <Rule Id="C6505" Action="None" />
    <Rule Id="C6506" Action="None" />
    <Rule Id="C6508" Action="None" />
    <Rule Id="C6509" Action="None" />
    <Rule Id="C6510" Action="None" />
    <Rule Id="C6511" Action="None" />
    <Rule Id="C6513" Action="None" />
    <Rule Id="C6514" Action="None" />
    <Rule Id="C6515" Action="None" />
    <Rule Id="C6516" Action="None" />
    <Rule Id="C6517" Action="None" />
    <Rule Id="C6518" Action="None" />
    <Rule Id="C6522" Action="None" />
    <Rule Id="C6525" Action="None" />
    <Rule Id="C6527" Action="None" />
    <Rule Id="C6530" Action="None" />
    <Rule Id="C6540" Action="None" />
    <Rule Id="C6551" Action="None" />
    <Rule Id="C6552" Action="None" />
    <Rule Id="C6701" Action="None" />
    <Rule Id="C6702" Action="None" />
    <Rule Id="C6703" Action="None" />
    <Rule Id="C6704" Action="None" />
    <Rule Id="C6705" Action="None" />
    <Rule Id="C6706" Action="None" />
    <Rule Id="C6707" Action="None" />
    <Rule Id="C6993" Action="None" />
    <Rule Id="C6995" Action="None" />
    <Rule Id="C6997" Action="None" />
  </Rules>
</RuleSet>